*.hex
*.bin

tmp/*
!tmp/.keep

cmake-build-debug/
cmake-build-release/

build/

serials.yml
.vscode/

~*
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
vendor/
tmp/
*.code-workspace
__pycache__/

*.old

.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
