[submodule "lib/eom-hal"]
	path = lib/eom-hal
	url = https://github.com/MausTec/eom-hal-dist.git
[submodule "lib/ts-code"]
	path = lib/ts-code
	url = https://github.com/MausTec/ts-code.git
[submodule "lib/mt-accessory-common"]
	path = lib/mt-accessory-common
	url = https://github.com/maustec/mt-accessory-common
[submodule "components/arduino"]
	path = components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2
[submodule "components/esp-nimble-cpp"]
	path = components/esp-nimble-cpp
	url = https://github.com/h2zero/esp-nimble-cpp
[submodule "lib/my_basic"]
	path = lib/my_basic
	url = https://github.com/paladin-t/my_basic
