*.hex
*.bin

tmp/*
!tmp/.keep

cmake-build-debug/
cmake-build-release/

build/

serials.yml
VERSION.h
.vscode/
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
vendor/
tmp/