[submodule "lib/eom-hal"]
	path = lib/eom-hal
	url = https://github.com/MausTec/eom-hal-dist
[submodule "lib/ts-code"]
	path = lib/ts-code
	url = https://github.com/MausTec/ts-code.git
[submodule "lib/mt-accessory-common"]
	path = lib/mt-accessory-common
	url = https://github.com/MausTec/mt-accessory-common
[submodule "components/u8g2"]
	path = components/u8g2
	url = https://github.com/olikraus/u8g2
[submodule "lib/my_basic"]
	path = lib/my_basic
	url = https://github.com/MausTec/my_basic_dist
[submodule "lib/semver"]
	path = lib/semver
	url = https://github.com/h2non/semver.c
